# Firebase Web config (public)
VITE_FIREBASE_API_KEY=AIzaSyCQr6Q8-TPvqQ51BN6eUiOZh-ZkGA6PlY0
VITE_FIREBASE_AUTH_DOMAIN=monsterpizza.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=monsterpizza
VITE_FIREBASE_STORAGE_BUCKET=monsterpizza.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=264674141304
VITE_FIREBASE_APP_ID=1:264674141304:web:420f1866ef658cb31fb98d
VITE_FIREBASE_MEASUREMENT_ID=G-25KPS035XR

# Cloud Messaging
VITE_FIREBASE_VAPID_KEY=BMbBzA_xIt3me7ezct6H5ONLKsk5xh71LQkeRwpUSAJB33os-Mnigi-cbrcr3A9pPDYRv47hOF3ZCOUHxRQcQEg

# Optional: use emulators locally
VITE_USE_FIREBASE_EMULATORS=false
